.vscode
.idea
.git
.coverage
*.pyc
/crwlr/periodicalarray.py
/docker/error.txt
/docker/error2.txt
/.stignore
/chanogram.py
/threadanalytics.py
/docker/keys/ssl/
/docker/keys/tls/server.pem
/docker/keys/tls/key2.pem
/docker/keys/tls/server.crt
/docker/keys/tls/server.key
/docker/keys/tls/server_reqout.txt
/docker/keys/tls/serverca.crt
/docker/keys/tls/serverca.srl
/docker/keys/chanbot.key
/docker/data/
/docker/database/
/docker/home/
/db/keys/ssl/
/db/keys/tls/client.crt
/db/keys/tls/client.key
/db/keys/tls/client.pem
/db/keys/tls/client.req
/.stfolder/
/.stversions/
/.stversions/docker/
/.vscode/
/docker/data/*
/docker/database/*
/docker/keys/tls/*
/docker/keys/ssl
/docker/home/*
/db/keys/tls/*
/db/keys/ssl
/ml/lsa.py
/ml/LSA_Inspection.py
/dockercommands.txt
/ml/.py/
/venv
/venv/*
/venv2
/venv2/*
/docker/mongo-volume/*
/docker/mongo-volume/